<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="testsecret123"/>
        <env name="DATABASE_URL" value="postgresql://test:test@127.0.0.1:5432/test"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="DEFAULT_URI" value="http://localhost"/>
        <env name="MAILER_DSN" value="null://null"/>
        <env name="MESSENGER_TRANSPORT_DSN" value="doctrine://default?auto_setup=0"/>
    </php>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
